*{
    box-sizing: border-box;
}
body{color: #222;}
a{ text-decoration:  none;
color: inherit;}
img{
    max-width: 100%;
}
main{
    padding: 10px;
    max-width: 700px;
    margin: 0 auto;
}
input{
    display: block;
    margin-bottom: 5px;
    width: 100%;
    padding: 5px 7px;
    border: 2px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
}
button{
    width: 100%;
    display: block;
    background-color: #555;
    border: 0;
    color:#ffff;
    border-radius: 5px;
    padding: 7px 0;
}