.page{
}
.page a {
    color: #333;
    text-decoration: underline;
}
.page h1{
    text-align: center;
    margin: 10px 0 5px;
}
.page time{
    text-align: center;
    display: block;
    font-size: .7rem;
    color: #aaa;
}

.author{
    text-align: center;
    margin-bottom: 20px;
    font-size: .7rem;
    font-weight: bold;
}
.image{
    max-height: 200px;
    display: flex;
    overflow: hidden;
}
.image img{
    object-fit: cover;
    object-position: center center;
    width: 100%;
}
.content p{
    line-height: 1.6rem;
}
.editRow{
    text-align: center;
    margin-bottom: 15px;
}
.editRow .editBtn{
    background-color: #333;
    color: #ffff;
    padding: 12px 24px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 8px;
    width: 16%;
    text-decoration: none;
}
.editRow .editBtn svg{ height: 20px;}